<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, EJS!</h1>
    <h2>Hi there, <%= user.name %>!</h2>
    <p>Your favorite color is <%= user.color %>.</p>
    <p>Your favorite food is <%= user.food %>.</p>
</body>
</html>